{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="inner-header" style="background-image: linear-gradient(rgba(2, 2, 252, 0.6), rgba(37, 117, 208, 0.6)), url({% static 'img/about.jpg' %});">


    <div class="container">
        <div class="row mt-5 mt-md-0">
            <div class="col-md-12 pt-5 pt-md-0">
                <div class="innerHeader-info">

                    <h2 class="white-text">Service Us</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><i class="fas fa-home"></i> <a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Service </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>

</header>
<section class="inner-page py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 mb-3 ">

                <h2>Serivce</h2>
                <p>Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                Mauris Eonec eu ribero sit amet quam egestas semper. Aenean are ultricies mi senectus et netus et malesuada fames ac
                turpis egestas. Vestibulum tortor quam, feugiat vitae vitae.</p>
                
                <p>Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                Mauris Eonec eu ribero sit amet quam egestas semper. Aenean are ultricies mi senectus et netus et malesuada fames ac
                turpis egestas. Vestibulum tortor quam, feugiat vitae vitae. Morbi tristique senectus et netus et malesuada fames ac
                turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet
                quam egestas semper. Aenean ultricies mi vitae est. Mauris Eonec eu ribero sit amet quam egestas semper. Aenean are
                ultricies mi senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae vitae. Morbi
                tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
                eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris Eonec
                eu ribero sit amet quam egestas semper. Aenean are ultricies mi senectus et netus et malesuada fames ac turpis egestas.
                Vestibulum tortor quam, feugiat vitae vitae.</p>

            </div>
            
        </div>
    </div>
</section>
{% endblock %}